<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title>Iniciar Sesión</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <!-- Usuario -->
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username" type="email" required>
                    <mat-error *ngIf="f.username.touched && f.username.hasError('required')">
                        El usuario es obligatorio.
                    </mat-error>
                    <mat-error *ngIf="f.username.touched && f.username.hasError('email')">
                        Ingrese un correo válido.
                    </mat-error>
                </mat-form-field>

                <!-- Contraseña -->
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="f.password.touched && f.password.hasError('required')">
                        La contraseña es obligatoria.
                    </mat-error>
                    <mat-error *ngIf="f.password.touched && f.password.hasError('minlength')">
                        La contraseña debe tener al menos 6 caracteres.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Ingresar
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>